USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spChangeStatus_TW]    Script Date: 2/20/2026 1:47:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC spChangeStatus_TW  15, 40, 'EPN', 1, 'ALL'

ALTER PROCEDURE [dbo].[spChangeStatus_TW](
	@srcId INT
	, @statusCode INT
	, @srcSystem VARCHAR(5)
	, @srcProcessFlag BIT
	, @srcSptCode VARCHAR(10)
)
AS
BEGIN
	UPDATE cfsource SET srcSstCode = @statusCode, srcsystem = @srcSystem, srcProcessFlag = @srcProcessFlag, srcSptCode = @srcSptCode
	WHERE srcId = @srcId
	pRINT 'END';
END